body {
  margin: 0;
  color: #303030;
}

.home-container {
  display: flex;
}
/** PARTE IZQUIERDA**/
.home {
  background: url(/1.jpg) 0px 0px no-repeat;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
/** PARTE DERECHA **/
.container {
  background: url(/fondo-muni.png) 0px 0px no-repeat;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.712);
  height: 700px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.text-container {
  text-align: center;
  width: 400px;
}
.title-text {
  margin-bottom: 40px;
}
.span-text {
  font-weight: 700;
  font-size: 1.2rem;
}
.text {
  margin-top: 30px;
  font-size: 1.1rem;
}
/** FORMULARIO **/
.input-container {
  position: relative;
}
.input {
  border: none;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  width: 380px;
  height: 20px;
  outline: none;
  transition: 0.3s ease;
  font-size: 1rem;
  text-align: center;
}
.input:focus {
  height: 24px;
}
.padlock {
  position: absolute;
  top: 9px;
  right: 20px;
}
.padlock-red {
  color: #61277d;
}
.padlock-green {
  color: #4f85c8;
}
.button {
  background-color: #61277d;
  color: #f0f0f0;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  transition: 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.button:hover {
  background-color: #4c1c64;
  color: #ffffff;
  box-shadow: rgba(64, 0, 94, 0.35) 0px 5px 15px;
}
.actives-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.error-relative {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-container {
  position: absolute;
  top: -15px;
  width: 300px;
  height: 30px;
  background-color: #ff3c3c;
  border-radius: 7px;
  box-shadow: rgba(255, 79, 79, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity 3s linear;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.error {
  text-transform: uppercase;
  font-weight: 700;
  color: #f0f0f0;
}
/**FOOTER**/
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(24, 24, 24, 0.781);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-container {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-text {
  color: #f0f0f0;
}
.contact-icon {
  color: #f0f0f0;
  margin-right: 10px;
  height: 20px;
}
